version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:5000"
    volumes:
      - ./models:/app/models
      - ./images:/app/static
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]